#intro{
    position: relative;
    z-index: 0;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    overflow: hidden;
}
.intro-video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
}

@media (max-width: 1280px){ .intro-video video {
    width: auto;
    height: 100%;
}
}
@media (max-width: 780px){ .intro-video video{
    width: auto;
    height: 100%;
}
}
.intro-video video{
    width: 100%;
}



.intro-container{
    position: relative;
    max-height: 497px;
    z-index: 1;
    padding: 80px 0 80px;
    background: rgba(50,50,50,0.4);
}
.intro-container h1{
    font-size: 40px;
    text-transform: uppercase !important;
    letter-spacing: 4pt !important;
}
.intro-container p{
    font: 15pt 'gt_walsheimthin' !important;
    padding: 0 15px;
    margin-bottom: 60px;
}
.searchActor{
    padding: 0 15px;
}
form{
    margin: 0 auto;
}
fieldset{
    
}

.searchName{
    position: relative;
    width: 673px;
    max-width: 100%;
    margin: 8px auto;
    padding: 0;
    overflow: hidden;
    border-spacing: 0;
    border:none;
}
.sName{
    font-size: 15px;
    padding: 16px 18px;
    width: 80%;
    box-shadow: 10 3px 2px rgba(0,0,0,1);
    outline: none;
    border-radius: 3px;
    border: 1px solid #eee;
}
.sIcon{
    vertical-align:middle;
    background: url(../photo/search-icon.png) no-repeat;
    background-size: cover;
    padding: 0;
    opacity: 0.6;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.sIcon:hover{
    opacity: 1;
    transition: opacity .5s ease-out;
}
.cinematype{
    padding: 0 auto;
}
.cinematype ul{

}
.cinematype ul li{
    display: inline-block;
    padding: 10px 15px;
}
.cinematype ul li a{
    color: #eee;
    text-decoration: none;
}
.cinematype ul li a:hover{
    color: orange;
    text-decoration: none;
}










.profilelist{
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.profiles{
    position: relative;
    float: left;
    width: 24%;
    height: 350px;
    margin: 0.5%;
    border: none;
    overflow: hidden;
    }

.profiles img{
    width: 100%;
    height: 100%;
}
.profiles p{
    position: absolute;
    bottom: 0;
    left: 10px;
    line-height: 4;
    z-index: 10;
    opacity: ;
}

.profiles:hover .profiles a p{
     opacity: 1;
}
.profiles:hover #blackbox{
    opacity: 0;
}

#blackbox{
      position: absolute;
    top: 0;
    left: 0;
      width:100%;
      height: 100%;
      background-color: black;
      opacity : 0.3;
    }

#search{
      visibility: hidden;
    }











*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}
menu, nav, div, ul, li, h2, h1, p{
    display: block;
    margin: 0;
    padding: 0;
}
ul, li, menu{
    list-style: none;
}


#header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    padding: 15px 35px 0 35px;
}


nav{
    display: block;
}

#nav-logo{
    float: left;
}
#nav-logo h1{
    color: #fff;
    font-size: 18pt !important;
    display: inline;
    font: 13pt 'gt_walsheimthin' !important;
    text-transform: uppercase !important;
    letter-spacing: 4pt !important;
    
}
#nav-logo a:hover{
    text-decoration: none;
}
#nav-logo a{
    text-decoration: none;
}
#nav-bar{
    float: right;
    cursor: pointer;
}
.fa-bars:before {
    color: #fff;
    content: "\f0c9";

}


#menu{
    position: fixed;
    z-index: 9998;
    width: 100%;
    top: 0;
    padding-top: 55px;
    transition: all 0.7s ease-out;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.9);
    display: none;
}
#menu li{
    padding: 4px;
    font-size: 17px;
}
#menu a{
    color: #555;
    text-decoration: none;
}
#menu a:hover{
    text-decoration:underline;
}
.mlist{
    letter-spacing: 3pt;
    text-transform: uppercase;
    font: 10pt 'gt_walsheimthin' !important;
}
.login{
    padding: 20px 0 20px 0 !important;
}
.mlist2{
    font-size: 14px;
    padding: 0 10px 0 10px ;
}


#footer{
    background-color:#4d4d4d;
    color: grey;
    font-family: "Chronicle Text G1 A","Chronicle Text G1 B";
    font-style: normal;
    font-weight: 400;
}
.footer-area{
    margin: 0 auto;
    padding: 80px 40px;
    overflow: hidden;
}
.footer-area div{
    font-size: 13px;
}
.aboutus{
    width: 35%;
    padding-left: 5%;
    float: right;
    color: orange;
    text-align: right
}
.aboutus p{
    margin-bottom: 30px;
    color: grey;
    text-align: right;
}
.intro{
     width: 30%;
    float: left;
    overflow: hidden;
    
}
.intro div{
    float: left;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Verlag A","Verlag B";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}
.intro span {
    display: block;
    margin-bottom: 15px;
    
}
.intro li{
    list-style-type: none;
    color: #eee;
}


.footersns{
    float: left;
    width: 35%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin: 0;
    font-family: "Verlag A","Verlag B";
    font-style: normal;
    font-weight: 400;
}

.social{
    display: block;
    margin-bottom: 15px;
}
.connect{
    margin-top: 30px;
    margin-bottom: 20px;
}
.connect a{
    text-decoration: none;
    color: orange;
    transform: color 0.2s ease-in-out;
}

.footersns a {
    margin-right: 10px;
    text-decoration: none;
}
.footersns svg path:hover{
    fill: whitesmoke;
}

.footersns svg path{
    fill: grey;
    opacity: .8;
    transition: all 0.3s ease-out;
}
